
.speech-bubble {
	position: relative;
    border: 3px solid #DC65A1;
	border-radius: .4em;
    padding: 10px;
    margin-left: -8%;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #DC65A1;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}


.counter{
  color:#DC65A1;
}
.profpic{
    height: 12rem;
    width: auto;
}
.out,
.out:visited{
  text-align: left;
  display: block;
  color: #DC65A1;
}


.sn{
    box-shadow: 2px 5px #ebebeb;
}

.logobody{
  height: 60px;
  width:120px;
}

.cbody{
  background-color: white;
  border: 1px solid #c9c9c9;
}

.bubble-speech{
  color:#DC65A1;
}

.tabitem{
  background-color: #DC65A1;
}

.nav-link{
  color: #DC65A1;
}

.cbodytext{
  font-size: 12px;
  color: #DC65A1;
}

.name{
 margin-left: -7%;
 font-size: 1.5rem;
}

.out:hover{
    color: #ff93dd;
}
