.box{
  width: 200px;
  height: 40px;
  text-align: center;
  position: relative;
  border: 2px solid #DC65A1;
  border-radius: .4em;
  box-shadow: 2px 5px #ebebeb;
}

.sb:after{
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 9.5px solid transparent;
	border-right-color: #DC65A1;
	border-left: 0;
	border-bottom: 0;
}

.img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
